:root {
    --primary-color: #25274d;
    --text-color: #aaabb8;
    --light-color: #2e9cca;
}

body {
    background-color: var(--text-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100vw;
}

.headline {
    display: flex;
}

.headline h1 {
    align-self: flex-end;
    margin-left: 900px;
}

header button {
    margin: 5px;
}

main {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
}

.container {
    flex-direction: column;
    width: 550px;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.container input {
    margin: 8px 4em;
}

.container button {
    display: block;
    margin: 5px auto;
}

.hiddenContent {
    display: hidden;
}

#result {
    display: block;
}

article {
    margin: auto 2em;
}

article h2 {
    margin-top: 5px;
}

article #table {
    width: 450px;
}

article span {
    display: flex;
    justify-content: end;
}

article a {
    text-decoration: none;
    color: var(--light-color);
}